# Ignorer les fichiers sensibles
key.env
.env

# Ignorer les fichiers zip
*.zip

# Fichiers système macOS
.DS_Store

# Dossiers temporaires Python
__pycache__/
*.pyc

# Ignorer les fichiers PyCharm/JetBrains
.idea/

# Ignorer l'environnement virtuel
venv/

